.todo{
    padding: 20px;
    color: #696969;
}

input{
    font-size: 15px;
}

.title {
    font-size: 20px;
}

ul{
 border:2px solid #87ceeb;
 padding: 0;
 width: 400px;
 min-height:200px;
 border-radius: 8px;
 background-color: #e0ffff;
}

li {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 15px;
    margin-left: 8px;
}

.todo-title{
    margin: 15px ;
}

button{
    margin:0px 5px;
    padding:0px 2px;

}

.select{
    margin:0px 7px;
    padding:0px 5px;
}


